body {
  margin: 0px;
  font-family: Calibri, Arial;
  background-color: #e8e8e8;
}

#container {
  max-width: 960px;
  /* height: auto;*/
  margin: 0px auto 0px;
  background-color: #fff;
  padding: 5px;
}

.leftSide {
  width: 200px;
  float: left;
}

.rightSide {
  right-margin: 200px;
  width: 740px;
  float: right;
}

#docContent {
  background-color: #eee;
  margin: 5px 5px 0 0;
}

ul#resourceList {
  margin: 5px;
  padding: 0px;
}

ul#resourceList li {
  list-style: none;
}

.title {
  font-size: 120%;
  font-weight: bold;
}

#resourceListTitle {
  margin: 0 5px;
}
