body {
  margin: 0px;
  font-family: Calibri, Arial;
  background-color: #eee;
}

#container {
  width: 900px;
  /* height: auto;*/
  margin: 0px auto 0px;
  background-color: #fff;
  padding: 5px;
}

.leftSide {
  width: 20%;
  float: left;
}

.rightSide {
  right-margin: 200px;
  width: 700px;
  float: right;
  background-color: #e8e8e8;
}

ul#resourceList {
  margin: 5px;
  padding: 0px;
}

ul#resourceList li {
  list-style: none;
}

.title {
  font-size: 120%;
  font-weight: bold;
}
