body {
  margin: 0px;
  font-family: Calibri, Arial;
}

.leftSide {
  width: 30%;
  float: left;
}

.rightSide {
  right-margin: 200px;
  width: 70%;
  float: right;
  background-color: #eee;
}

ul#resourceList {
  margin: 5px;
  padding: 0px;
}

ul#resourceList li {
  list-style: none;
}
